<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="tcpEndpoint">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="tcpEndpoint1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
			<endpoint address="net.tcp://localhost:8734/Design_Time_Addresses/WCF/Service1/"
                binding="netTcpBinding" bindingConfiguration="tcpEndpoint1"
                contract="ServiceReference1.IService1" name="tcpEndpoint1">
                <identity>
                    <userPrincipalName value="DESKTOP-6BQAJ6M\Lenovo" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>