<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
      <services>
        <service name="WCF.Service1">
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF/Service1/"/>
              <add baseAddress="net.tcp://localhost:8734/Design_Time_Addresses/WCF/Service1/"/>
            </baseAddresses>       
          </host>
          
          <endpoint binding="basicHttpBinding"
                  contract ="WCF.IService1" />
          
          <endpoint binding="netTcpBinding"
                  contract ="WCF.IService1" />
          
        </service>
      </services>
     
    </system.serviceModel>
</configuration>