<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="PWS_7.Feed1">
        <endpoint address="Feed" behaviorConfiguration="PWS_7.Feed1Behavior" binding="webHttpBinding" contract="PWS_7.IFeed1"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:40124/PWS_7/"/>
          </baseAddresses>
        </host>
        <endpoint contract="PWS_7.IFeed1" address="Feed1" binding="webHttpBinding" behaviorConfiguration="PWS_7.Feed1Behavior"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="PWS_7.Feed1Behavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
